<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <tracking>
            <sharedSessionState defaultProvider="InProc">
                <patch:attribute name="defaultProvider" value="mssql" />
                <providers>
                    <add name="mssql"
                         type="Sitecore.SessionProvider.Sql.SqlSessionStateProvider,Sitecore.SessionProvider.Sql"
                         connectionStringName="sharedsession"
                         pollingInterval="2"
                         compression="true"
                         sessionType="shared"/>
                </providers>
            </sharedSessionState>
        </tracking>
    </sitecore>
</configuration>
