<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Feature.Forms" description="Feature Forms" dependencies="Foundation.*" extends="Helix.Feature">
                    <rolePredicate>
                        <include domain="modules" pattern="^Feature Forms .*$" />
                    </rolePredicate>
                    <predicate>
                        <include name="Forms.FieldTypes.MCHCountries" database="master" path="/sitecore/system/Settings/Forms/Field Types/Lists/MCH Countries"/>
                        <include name="Core.Forms.MCHCountries" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/PropertyGridForm/PageSettings/Settings/MCHCountries"/>
                        <include name="Core.Forms.MCHContentManager" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Renderings/Composites/MCHContentManager"/>
                    </predicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>